/*командная строка*/
#command-line-container, #command-line-container fieldset, #command-line-code, #command-line-toggler {
	margin: 0;
	padding: 0;
}
#command-line-container, #command-line-container fieldset, #command-line-code {
	line-height: 24px;
}
#command-line-container fieldset, #command-line-code, #command-line-toggler {
	height: 24px;
	border: none;
}
#command-line-code, #command-line-toggler {
	overflow: hidden;
	color: #202020;
}
#command-line-container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 27px;
	background: #fff;
	border-bottom: 1px solid #444;
}
#command-line-container.hidden {
	display: block;
	top: -28px;
}
#command-line-container fieldset {
	padding: 0 3px;
	border-bottom: 3px solid #ccc;
}
#command-line-code {
	vertical-align: top;
	width: 100%;
	background: none;
	font-family: Consolas, monospace;
}
#command-line-code:focus {
	outline: none;
}
#command-line-toggler {
	position: absolute;
	top: 24px;
	left: 0;
	width: 16px;
	height: 16px;
	padding-bottom: 3px; /*выравнивает текст по вертикали в Firefox 3*/
	background: #ccc;
	font-size: 10px;
	line-height: 16px;
	text-align: center;
}

/*консоль*/
#console-container {
	overflow: auto;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	max-height: 300px;
	background: #fff;
	border-top: 3px solid #ccc;
}
#console-container.hidden {
	display: none;
}
#console-container .console-message {
	margin: 0;
	padding: 0 3px;
	border-top: 1px solid #ccc;
	color: #202020;
	font: 11px/18px Consolas, monospace;
	white-space: pre-wrap;
	word-wrap: break-word;
}
#console-container .console-message:first-child {
	border-top: none;
}
#console-container .error {
	background: #f8dcce;
}