.gradient-gray {
  background-image: -moz-linear-gradient(top, #ffffff, #f7f7f7);
  background-image: -webkit-linear-gradient(top, #ffffff, #f7f7f7);
  background-image: -o-linear-gradient(top, #ffffff, #f7f7f7);
  background-image: -ms-linear-gradient(top, #ffffff, #f7f7f7);
  background-image: linear-gradient(top, #ffffff, #f7f7f7);
}
body {
  background: #fff;
  font: 100%/1em Calibri, sans-serif;
  color: #000;
}
details {
  margin-bottom: 1px;
}
summary {
  display: block;
  padding: 0 0.5em;
  background-image: -moz-linear-gradient(top, #ffffff, #f7f7f7);
  background-image: -webkit-linear-gradient(top, #ffffff, #f7f7f7);
  background-image: -o-linear-gradient(top, #ffffff, #f7f7f7);
  background-image: -ms-linear-gradient(top, #ffffff, #f7f7f7);
  background-image: linear-gradient(top, #ffffff, #f7f7f7);
  border: 1px solid #f3f3f2;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-family: Consolas, monospace;
  line-height: 2em;
  cursor: pointer;
}
.hidden {
  display: none;
}
