body {
	background: #ecf0f1;
	font-family: sans-serif;
}
.base {
	position: fixed;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background: #3cf;
	transition: all 3s;
}
.anim1 {
	left: 100%;
	margin-left: -20px;
}
.anim2 {
	top: 100%;
	margin-top: -20px;
}
.anim3 {
	transform: rotate(360deg);
}
