@charset "utf-8";
@import "reset.css";
body {
min-width: 960px;
color: #2d3034;
}
@media screen {
body {
background: #272727;
}
.container {
margin: 36px;
padding: 36px;
}
.content {
margin: -32px -32px 0 0;
background: #f8f8f8;
}
}
@media print {
h1, h2, h3, h4, h5, h6 {
page-break-after: avoid;
}
td, th {
page-break-inside: avoid;
}
}
a:link, a:visited {
padding: 0 0 1px;
border-width: 0 0 1px;
border-style: solid;
}
a:link {
color: #006cb7;
border-color: #006cb7;
}
a:visited {
color: #416076;
border-color: #416076;
}
a:hover {
color: #0188e5;
border-color: #0188e5;
}
a:focus {
background: #faedb1;
outline-offset: 1px;
}
img {
float: left;
}
h1, h2, h3, h4, h5, h6, p, blockquote, address, pre, ul, ol, dl {
margin: 0 0 14px;
}
h1, h2, h3, h4, h5, h6 {
color: #ca336f;
font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
font-variant: small-caps;
}
h1:target, h2:target, h3:target, h4:target, h5:target, h6:target {
color: #272727;
background: #faedb1;
}
h1 {
font-size: 26px;
font-variant: normal;
font-weight: bold;
}
h2 {
clear: left;
font-size: 26px;
}
h3 {
margin-top: 24px;
counter-increment: first-level;
counter-reset: second-level third-level;
font-size: 22px;
}
h3:before {
content: counter(first-level) " ";
}
h4 {
counter-increment: second-level;
counter-reset: third-level;
font-size: 18px;
}
h4:before {
content: counter(first-level) "." counter(second-level) " ";
}
h5, h6 {
color: #b62962;
font-size: 14px;
}
h5 {
counter-increment: third-level;
}
h5:before {
content: counter(first-level) "." counter(second-level) "." counter(third-level) " ";
}
var {
background: #eff2fb;
}
p code, li code {
background: #f8f4ed;
}
li pre code {
background: none;
}
pre {
padding: 0 0 0 24px;
border: 1px solid #f1f1f1;
background: url(../img/pre-code.png) no-repeat;
}
li {
display: list-item;
margin: 0 0 14px 42px;
list-style: outside disc;
}
li li {
list-style-type: circle;
}
li li li {
list-style-type: square;
}
abbr {
border-bottom: 1px dotted #ccc;
}
table {
margin: 0 0 24px;
}
thead tr {
background: #e3e6f2;
}
td, th {
border: 1px solid #dedede;
}
thead th {
text-align: center;
vertical-align: middle;
}
tbody {
font: 12px/18px Consolas, "Courier New", monospace;
}
tbody td, tbody th {
padding: 2px 4px;
vertical-align: middle;
}
tbody th {
font-weight: bold;
background: #fefdf4;
}
.separate {
background: #ebedf6;
}
.container {
background: #fff;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
.content {
width: 513px;
float: right;
font-size: 12px;
padding: 14px 24px 0 0;
margin-left: 14px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
}
.content h1 {
color: #2d3034;
font-size: 18px;
font-weight: normal;
text-align: center;
}
.content li {
display: block;
list-style: none;
margin-left: 24px;
counter-increment: level1;
counter-reset: level2 level3;
}
.content li li {
counter-increment: level2;
counter-reset: level3;
}
.content li li li {
counter-increment: level3;
counter-reset: none;
}
.content li:before {
content: counter(level1) " ";
}
.content li li:before {
content: counter(level1) "." counter(level2) " ";
}
.content li li li:before {
content: counter(level1) "." counter(level2) "." counter(level3) " ";
}
#js-core-main-function-and-caching {
clear: both;
}
.copyright {
font-size: 11px;
text-align: center;
}
.copyright, .copyright a:link, .copyright a:visited {
color: #787452;
border-color: #787452;
}
/* Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name> */
.comment, .annotation, .template_comment, .diff .header, .chunk, .apache .cbracket {
color : rgb(0, 128, 0);
}
.keyword, .id, .title, .vbscript .built_in, .rsl .built_in, .cpp .built_in, .aggregate, .smalltalk .class, .winutils, .bash .variable {
color : rgb(0, 0, 255);
}
.string, .title, .parent, .tag .attribute .value, .rules .value, .rules .value .number, .ruby .symbol, .instancevar, .aggregate, .template_tag, .django .variable, .addition, .flow, .stream, .apache .tag {
color : rgb(163, 21, 21);
}
.ruby .string, .decorator, .filter .argument, .localvars, .array, .attr_selector, .pi, .doctype, .deletion, .envvar, .shebang, .preprocessor, .userType, .apache .sqbracket {
color : rgb(43, 145, 175);
}
.phpdoc, .javadoc, .xmlDocTag {
color : rgb(128, 128, 128);
}
::selection {
color: #000;
background: #faedb1;
}
::-moz-selection {
color: #000;
background: #faedb1;
}
