#header h1 {
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="preview/logo.png", sizingMethod="crop");
}
#content .example h2, #content .example ol, #content p {
_zoom: 1;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="preview/dark.png", sizingMethod="crop");
}
.tooltip {
top: 66px;
_top: 60px;
_zoom: 1;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="preview/tooltip.png", sizingMethod="crop");
}
.tooltip, #header h1 a:link, #header h1 a:visited, #content .example h2, #content .example ol, #content p {
_background: none;
}
#content .example div.code label, #content .example div.result label {
_margin-left: -7px;
}
#content .example button {
_right: 8px;
line-height: 20px;
}
#content .example div.result pre {
white-space: normal;
}
#content p span {
_position: relative;
}
#content .example div pre, #content .example div.dom code {
zoom: 1;
}
#content .example button.hover {
background: #0b66ab;
}
#content .example button.active {
background: #0a568f;
}