@charset "utf-8";
#content .example h2, #content .example ol {
background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KPHJlY3QgZmlsbD0iIzAwMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgcng9IjUiIHJ5PSI1IiBvcGFjaXR5PSIwLjMiIC8+DQo8L3N2Zz4=) no-repeat;
}
#content .example button {
border: none;
background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KPHJlY3Qgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjFweCIgZmlsbD0iIzQwNDQ0OSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgcng9IjRweCIgcnk9IjRweCIgLz4NCjwvc3ZnPg==) no-repeat;
}
#content .example button:hover, #content .example button:focus {
background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KPHJlY3Qgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjFweCIgZmlsbD0iIzBiNjZhYiIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgcng9IjRweCIgcnk9IjRweCIgLz4NCjwvc3ZnPg==) no-repeat;
}
#content .example button:active {
background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KPHJlY3Qgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjFweCIgZmlsbD0iIzBhNTY4ZiIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgcng9IjRweCIgcnk9IjRweCIgLz4NCjwvc3ZnPg==) no-repeat;
}
#content .example div {
border: none;
background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KCTxyZWN0IGZpbGw9IiNlZWUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHJ4PSI1cHgiIHJ5PSI1cHgiIC8+DQo8L3N2Zz4=) no-repeat;
}
#content .example label {
background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KCTxyZWN0IGZpbGw9IiMzMjM4MzgiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjIwMCUiIHJ4PSI1cHgiIHJ5PSI1cHgiIC8+DQo8L3N2Zz4=) no-repeat;
}
#content p {
border: none;
background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KCTxyZWN0IHN0cm9rZT0iI2NjOWY1YSIgc3Ryb2tlLXdpZHRoPSIycHgiIGZpbGw9IiMwMDAiIGZpbGwtb3BhY2l0eT0iMC4zIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiByeD0iNXB4IiByeT0iNXB4IiAvPg0KPC9zdmc+) no-repeat;
}